.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "lato", "Noto Sans JP", -apple-system, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

.centerEx{
    min-height: 80vh;
    font-size: 23px;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "lato", "Noto Sans JP", -apple-system, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

.space{
    margin-top: 150px;
}

.fixedButton{
    width: 52px;
    height: 52px;
    position: fixed;
    bottom: 90px;
    right: 13px;
}

.submit {
    width: 90%;
    height: 45px;
    background: #ff4800;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.androidFooter {
    position: fixed;
    padding: 0px 0px 45px 0px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.iOSFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}
