
.submit {
    width: 90%;
    height: 45px;
    background: #ff4800;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
    vertical-align: center;
    justify-content: center;
}

.center {
    height: 100%;
    background: linear-gradient(darkorange, DeepPink);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "lato", "Noto Sans JP", -apple-system, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

.label {
    color: white;
    font-size: 23px;
}

.label2 {
    color: white;
    font-size: 23px;
    margin-top: 40px;
}

.box {
    /*background: red;*/
}

.radioA {
    height: 30px;
    width: 80px;
    padding: 6px;
}

.radioB {
    height: 30px;
    width: 100px;
    padding: 6px;
}

.font{
    font-size: 20px;
    color: white;
}

.logo {
    height: 180px;
}

.inputItem {
    width: 300px;
    height: 46px !important;
    /*margin-top: 80px;*/
}

.androidFooter {
    bottom: 0;
    /*color: #58666e;*/
    left: 0;
    padding: 0px 0px 45px 0px;
    position: absolute;
    right: 0;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.iOSFooter {
    bottom: 0;
    /*color: #58666e;*/
    left: 0;
    /*padding: 20px 30px;*/
    position: absolute;
    right: 0;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}
