
.submit {
    width: 90%;
    height: 45px;
    background: #ff4800;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.nameInput {
    height: 100%;
    background: linear-gradient(darkorange,DeepPink);
    /*background: url("../image/login-register.png") center no-repeat;*/
}

.center {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "lato", "Noto Sans JP", -apple-system, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
.label{
    color: white;
    font-size: 23px;
}
.logo {
    height: 180px;
}

.inputItem {
    width: 300px;
    height: 46px !important;
    /*margin-top: 80px;*/
}

.footer {
    bottom: 0;
    /*color: #58666e;*/
    left: 0;
    /*padding: 20px 30px;*/
    position: absolute;
    right: 0;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}
