.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "lato", "Noto Sans JP", -apple-system, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
