
.NavBar {
    background: transparent;
    display: inline-flex;
    color: black;
}

.androidLogo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 8px;
}

.iosLogo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}


.share {
    width: 32px;
    height: 30px;
    margin-bottom: 8px;
    margin-right: -1px;
}

