.App {
  /*text-align: center;*/
}

.App_logo {
  height: 40px;
  /*height: 40vmin;*/
  /*pointer-events: none;*/
}
.App_title{
  font-size: 20px
}
.App_header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-intro {
  font-size: large;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App_footer {
  bottom: 0;
  color: #58666e;
  left: 0;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  background: #fff;
  text-align: center;
}